  .comment-modal {
    background: white;
    padding: 20px;
    width: 400px;
    max-height: 500px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }


  .comment-header {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  .comment-header input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .comment-header button {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    cursor: pointer;
  }

  .comment-body {
    flex: 1;
    overflow-y: auto;
  }

  
  .comment-item {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
  }

  .comment-user-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width:460px) {
      .comment-modal{
        width: 300px;
      }
  }